<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
    @font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/static/OpenSans-Regular.ttf') format('ttf'); /* Define all font 	variations you have */
        
    /* Add more variations (e.g., italic, bold) if needed */
    font-weight: normal;
    font-style: normal;
  }


body {
    box-sizing: border-box;
    width: 1220;
    height: 960px;
    background-color: #F2F2F2;
    text-align: center;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr{
    width: 552px;
    height: 2px;
    flex-shrink: 0;
    background: var(--foundation-tertiary-normal, #007A27);
}

h2{
    color: var(--foundation-secondary-secondary-500, #0D0A0B);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 116.7%; /* 35.01px */
    letter-spacing: -2px;
}

p{
    color: var(--foundation-secondary-secondary-200, #908E8F);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.paragraph{
	padding: 0 60px 0 60px;
}

/*.logo{
    margin: 30px 0 0 0;
}*/

#image .rocket{
    width: 186.917px;
    height: 196px;
    padding-top: 60px;
    flex-shrink: 0;
}

.main{
    width: 552px;
    height: 532px;
    margin: 30px 0 0 0;
    flex-shrink: 0;
    background: #FFF;
    text-align: center;  
}

.icon{
    display: inline-flex;
    align-items: center;
    gap: 18px;
}

#footer{
    margin-top: 60px;
} 

@media only screen and (max-width: 800px) {
  .paragraph {
    padding: 0 120px 0 120px; 
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
</style>
</head>
<body>
        <div class="logo">
        <img src="https://drive.google.com/uc?id=10H1JtooMd_zFkZOcalqllsOTPLuKnn8A" height="53.82"/>
        </div>
        <div class="container">
            <div class="main">
                <div class="hr"></div>
                </div>
                <div class="paragraph">
                    <p>
                        {{body}}
                    </p>
                </div>
            </div>
        </div>
        
        <footer id="footer">
            <div class="icon">
                <div class="youtube">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M26.9912 9.00376C26.8488 8.47551 26.5706 7.99376 26.1841 7.60647C25.7977 7.21917 25.3166 6.93983 24.7887 6.79626C22.8312 6.25876 14.9999 6.25001 14.9999 6.25001C14.9999 6.25001 7.16992 6.24126 5.21117 6.75501C4.68358 6.90519 4.20345 7.18848 3.81688 7.57768C3.43031 7.96687 3.15028 8.44891 3.00367 8.97751C2.48742 10.935 2.48242 14.995 2.48242 14.995C2.48242 14.995 2.47742 19.075 2.98992 21.0125C3.27742 22.0838 4.12117 22.93 5.19367 23.2188C7.17117 23.7563 14.9812 23.765 14.9812 23.765C14.9812 23.765 22.8124 23.7738 24.7699 23.2613C25.298 23.1179 25.7796 22.8392 26.167 22.4527C26.5544 22.0662 26.8342 21.5853 26.9787 21.0575C27.4962 19.1013 27.4999 15.0425 27.4999 15.0425C27.4999 15.0425 27.5249 10.9613 26.9912 9.00376ZM12.4949 18.7563L12.5012 11.2563L19.0099 15.0125L12.4949 18.7563Z" fill="#0D0A0B"/>
                      </svg>
                </div>
                <div class="twitter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <path d="M17.8751 3.25H23.8334L8.12508 22.75H2.16675L17.8751 3.25Z" stroke="#0D0A0B" stroke-width="2" stroke-linejoin="round"/>
                        <path d="M8.12508 3.25H2.16675L17.8751 22.75H23.8334L8.12508 3.25Z" stroke="#0D0A0B" stroke-width="2" stroke-linejoin="round"/>
                      </svg>
                </div>
                <div class="linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M23.75 3.75C24.413 3.75 25.0489 4.01339 25.5178 4.48223C25.9866 4.95107 26.25 5.58696 26.25 6.25V23.75C26.25 24.413 25.9866 25.0489 25.5178 25.5178C25.0489 25.9866 24.413 26.25 23.75 26.25H6.25C5.58696 26.25 4.95107 25.9866 4.48223 25.5178C4.01339 25.0489 3.75 24.413 3.75 23.75V6.25C3.75 5.58696 4.01339 4.95107 4.48223 4.48223C4.95107 4.01339 5.58696 3.75 6.25 3.75H23.75ZM23.125 23.125V16.5C23.125 15.4192 22.6957 14.3828 21.9315 13.6185C21.1672 12.8543 20.1308 12.425 19.05 12.425C17.9875 12.425 16.75 13.075 16.15 14.05V12.6625H12.6625V23.125H16.15V16.9625C16.15 16 16.925 15.2125 17.8875 15.2125C18.3516 15.2125 18.7967 15.3969 19.1249 15.7251C19.4531 16.0533 19.6375 16.4984 19.6375 16.9625V23.125H23.125ZM8.6 10.7C9.15695 10.7 9.6911 10.4788 10.0849 10.0849C10.4788 9.6911 10.7 9.15695 10.7 8.6C10.7 7.4375 9.7625 6.4875 8.6 6.4875C8.03973 6.4875 7.50241 6.71007 7.10624 7.10624C6.71007 7.50241 6.4875 8.03973 6.4875 8.6C6.4875 9.7625 7.4375 10.7 8.6 10.7ZM10.3375 23.125V12.6625H6.875V23.125H10.3375Z" fill="#0D0A0B"/>
                      </svg>
                </div>
                <div class="facebook">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M15 2.54999C8.125 2.54999 2.5 8.16249 2.5 15.075C2.5 21.325 7.075 26.5125 13.05 27.45V18.7H9.875V15.075H13.05V12.3125C13.05 9.17499 14.9125 7.44999 17.775 7.44999C19.1375 7.44999 20.5625 7.68749 20.5625 7.68749V10.775H18.9875C17.4375 10.775 16.95 11.7375 16.95 12.725V15.075H20.425L19.8625 18.7H16.95V27.45C19.8956 26.9848 22.5778 25.4819 24.5124 23.2126C26.4471 20.9432 27.5067 18.057 27.5 15.075C27.5 8.16249 21.875 2.54999 15 2.54999Z" fill="#0D0A0B"/>
                      </svg>
                </div>
                <div class="instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M14.9999 8.99123C11.6747 8.99123 8.99111 11.6748 8.99111 15C8.99111 18.3252 11.6747 21.0088 14.9999 21.0088C18.3251 21.0088 21.0087 18.3252 21.0087 15C21.0087 11.6748 18.3251 8.99123 14.9999 8.99123ZM14.9999 18.9053C12.8495 18.9053 11.0946 17.1504 11.0946 15C11.0946 12.8496 12.8495 11.0947 14.9999 11.0947C17.1503 11.0947 18.9052 12.8496 18.9052 15C18.9052 17.1504 17.1503 18.9053 14.9999 18.9053ZM21.2548 7.34474C20.4784 7.34474 19.8515 7.9717 19.8515 8.74806C19.8515 9.52443 20.4784 10.1514 21.2548 10.1514C22.0311 10.1514 22.6581 9.52736 22.6581 8.74806C22.6583 8.56371 22.6222 8.38113 22.5517 8.21076C22.4813 8.0404 22.3779 7.88561 22.2476 7.75525C22.1172 7.62489 21.9624 7.52154 21.7921 7.45109C21.6217 7.38065 21.4391 7.34451 21.2548 7.34474ZM26.7128 15C26.7128 13.3828 26.7274 11.7803 26.6366 10.166C26.5458 8.29103 26.1181 6.62697 24.747 5.25588C23.3729 3.88185 21.7118 3.45705 19.8368 3.36623C18.2196 3.27541 16.6171 3.29006 15.0028 3.29006C13.3856 3.29006 11.7831 3.27541 10.1688 3.36623C8.29384 3.45705 6.62978 3.88478 5.25868 5.25588C3.88466 6.6299 3.45986 8.29103 3.36904 10.166C3.27822 11.7832 3.29286 13.3858 3.29286 15C3.29286 16.6143 3.27822 18.2197 3.36904 19.834C3.45986 21.709 3.88759 23.3731 5.25868 24.7442C6.63271 26.1182 8.29384 26.543 10.1688 26.6338C11.786 26.7246 13.3886 26.71 15.0028 26.71C16.62 26.71 18.2226 26.7246 19.8368 26.6338C21.7118 26.543 23.3759 26.1153 24.747 24.7442C26.121 23.3701 26.5458 21.709 26.6366 19.834C26.7304 18.2197 26.7128 16.6172 26.7128 15ZM24.1347 21.9082C23.9208 22.4414 23.663 22.8399 23.2499 23.25C22.8368 23.6631 22.4413 23.9209 21.9081 24.1348C20.3671 24.7471 16.7079 24.6094 14.9999 24.6094C13.2919 24.6094 9.62978 24.7471 8.08876 24.1377C7.55556 23.9238 7.15712 23.666 6.74697 23.2529C6.33388 22.8399 6.07607 22.4444 5.8622 21.9112C5.25282 20.3672 5.39052 16.708 5.39052 15C5.39052 13.292 5.25282 9.6299 5.8622 8.08888C6.07607 7.55568 6.33388 7.15724 6.74697 6.74709C7.16005 6.33693 7.55556 6.07619 8.08876 5.86232C9.62978 5.25295 13.2919 5.39064 14.9999 5.39064C16.7079 5.39064 20.37 5.25295 21.911 5.86232C22.4442 6.07619 22.8427 6.334 23.2528 6.74709C23.6659 7.16017 23.9237 7.55568 24.1376 8.08888C24.747 9.6299 24.6093 13.292 24.6093 15C24.6093 16.708 24.747 20.3672 24.1347 21.9082Z" fill="#0D0A0B"/>
                    </svg>
                </div>
            </div>
            <div class="copyright">

rights {{year}}   |  Start-ups Support and Engagement Portal</p>
            </div>
            <div class="address">
                <p>Plot 790, Alimoh-Abu Street, Behind VIO Yard, Wuye District, Abuja, Nigeria</p>
            </div>
        </footer>
    
</body>
</html>
