<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
      }
      .header {
        background-color: #007a27;
        color: #fff;
        padding: 20px 0;
      }
      .header h1 {
        font-size: 24px;
      }
      .content {
        padding: 20px 0;
      }
      .footer {
        background-color: #004917;
        color: #fff;
        padding: 10px 0;
      }
      .footer p {
        font-size: 12px;
      }
      .footer a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Congratulations!</h1>
      </div>
      <div class="content">
        <p>Your information has been successfully received.</p>
        <p>
          We will reach out to provide you with details about the next steps in
          the labeling process.
        </p>
      </div>
      <div class="footer">
        <p>
          &copy; {{year}} Startup Support and Engagement Portal. All rights
          reserved. |
          <a href="{{website}}">Visit our website</a>
        </p>
      </div>
    </div>
  </body>
</html>
